/* Global styling */
* {
    border: none;
    border-radius: 0;
    font-family:
        JetBrainsMono Nerd Font,
        monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

/* style the tooltips */
tooltip {
    border-radius: 10px;
}

/* Make waybar window invisible */
window#waybar {
    background: transparent;
    color: #cdd6f4;
}

.modules-center {
    margin-left: 60px;
    margin-right: 60px;
}

/* Module styling */
#clock,
#workspaces,
#idle_inhibitor,
#center,
#tray,
#status,
#audio {
    /*background: #1e1e2e;*/
    background: rgba(30, 30, 46, 0.85);
    border-radius: 10px;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
}

/* Clock style */
#clock {
    color: #a6adc8;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#clock:hover {
    background: #cdd6f4;
    color: #11111b;
    box-shadow: inset 0 0 0 5px rgba(30, 30, 46, 0.85);
}

/* The workspaces module style */
#workspaces {
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

/* Workspace button style */
#workspaces button {
    color: #555869;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    margin: 5px 5px 5px 0px;
}

/* Last workspace button */
#workspaces button:last-child {
    margin-right: 0px;
}

/* The current workspace button style */
#workspaces button.active {
    background: #cdd6f4;
    color: #11111b;
}

/* I haven't seen this working yet :D */
#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

/* Worskpace button when there's something happening there */
#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

/* The hovered workspace button */
#workspaces button:hover {
    background: #cdd6f4;
    color: #11111b;
}

/* The idle inhibitor button (caffeine mode) */
#idle_inhibitor {
    border-radius: 10px;
    margin-left: 10px;
}

#idle_inhibitor:hover {
    background: #cdd6f4;
    color: #11111b;
    box-shadow: inset 0 0 0 5px rgba(30, 30, 46, 0.85);
}

/* Center group */
#center {
    padding: 0px 5px;
    /*margin: 5px 0px;*/
}

/* Center group modules styling */
#center #window,
#center #mpris {
    background: transparent;
    border-radius: 5px;
    padding: 2px 8px;
    margin: 5px 3px;
    margin-right: 0px;
}

/* Individual tweaks */
#center #window {
    margin-left: 0px;
}

#center #mpris:hover {
    background: #cdd6f4;
    color: #11111b;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

/* Right groups */
#audio {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
}

#status {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 10px;
}

/* Right groups modules styling */
#status #network,
#status #battery,
#audio #backlight,
#audio #wireplumber,
#audio #wireplumber.source {
    background: transparent;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    margin: 5px 5px 5px 0px;
}

/* Right groups modules conditional styling */
#audio #backlight:hover,
#audio #wireplumber:hover,
#audio #wireplumber.source:hover,
#status #network:hover,
#status #battery:hover {
    background: #cdd6f4;
    color: #11111b;
}

/* Idividual tweaks */
#audio #backlight {
    padding-right: 10px;
}

#audio #wireplumber.source {
    margin-right: 0px;
}

#status #battery {
    margin-right: 0px;
}
