@import "tokens/colors.css";

* {
  /* Base styling for all modules */
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

/* Common module styling with border-bottom */
#power-profiles-daemon,
#idle_inhibitor,
/* #custom-playerctl, */
#mpris,
#clock,
#memory,
#battery,
#network,
#wireplumber,
#backlight,
#custom-updates,
#tray {
  padding: 0 10px;
  margin: 0 2px;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

/* Module-specific styling */
@import "tokens/clock.css";
@import "tokens/workspaces.css";
@import "tokens/media.css";
@import "tokens/idle_inhibitor.css";
@import "tokens/power_profiles.css";
@import "tokens/audio.css";
@import "tokens/backlight.css";
@import "tokens/network.css";
@import "tokens/battery.css";
@import "tokens/tray.css";
@import "tokens/updates.css";
