* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
	border-radius: 0;
	font-size: 16;
	text-shadow: none;
	font-weight: 600;
	outline-style: none;
	text-decoration: none;
	color: #7C6F65;
	background-color: #282828;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus,
button:active,
button:hover {
	background-color: #A89884;
	color: #282828;
	outline-style: none;
}

#lock {
	background-image: image(url("lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
	background-image: image(url("logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
	background-image: image(url("suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
	background-image: image(url("hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
	background-image: image(url("shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
	background-image: image(url("reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}