@import "colors.css";

#battery {
  color: @battery-color;
  border-bottom-color: @battery-color;
}

#battery.charging,
#battery.plugged {
  color: @battery-charging-color;
  border-bottom-color: @battery-charging-color;
}

#battery.warning:not(.charging) {
  color: @battery-warning-color;
  border-bottom-color: @battery-warning-color;
}

#battery.critical:not(.charging) {
  color: @battery-critical-color;
  border-bottom-color: @battery-critical-color;
}
