@import "colors.css";

/* #custom-playerctl { */
#mpris {
  color: @playerctl-color;
  border-bottom-color: @playerctl-color;
}

/* #custom-playerctl.Playing { */
#mpris.playing {
  color: @cyan;
  border-bottom-color: @cyan;
}

/* #custom-playerctl.Paused { */
#mpris.paused {
  color: @orange;
  border-bottom-color: @orange;
}

